/* tailwind config  */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* reset  */
*{
    padding : 0 ; 
    margin : 0 ;
    box-sizing: border-box;
}

/* comon class  */

body{
    font-family: 'Roboto', sans-serif;
}